/* @mixin mobile {
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin tablet{
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1220px) {
    @content;
  }
} */



.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.login {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
  height: 80%;
  display: flex;
}

.sidebar {
  flex: 1;
  border-right: 1px solid #3e3c61;
  background-color: #61dafb;
}

.chat {
  flex: 2;
  background-color: aliceblue;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: azure;
}

.logo {
  font-weight: bold;
  gap: 10px;
}

.navbar button {
  color: red;
  border: none;
  background: #3e3c61;
  cursor: pointer;
}

.user span {
  padding: 20px;
}

.sidebar .search {
  border-bottom: 1px solid grey;
}

.sidebar .search .searchForm input {

  background-color: transparent;
  border: none;
  color: green;
  outline: none;


}

.sidebar .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar .userChat {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  cursor: pointer;
}

.sidebar .userChat:hover {
  background-color: #282c34;
}

.sidebar .userChatInfo span {
  font-size: 18px;
  font-weight: bolder;
}

.sidebar .userChatInfo p {
  font-size: 14px;
  color: gray;
}

.chat .chatInfo {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.chat .chatIcons {
  display: flex;
  gap: 10px;
}

.chat .chatIcons h3 {
  height: 24px;
  cursor: pointer;
}

.messages {
  background-color: darkcyan;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}

.messages .message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;


}

.messages .message.owner {
  flex-direction: row-reverse;

}

.messages .message.owner .messageContent p {
  background-color: purple;
  color: white;
  border-radius: 10px 0px 10px 10px;


}

.messages .message .messageInfo {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 350;
}

.messages .message .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;

}

.messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messages .message .messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px;
  max-width: max-content;
}

.chat .input {
  height: 50px;
  background-color: purple;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat .input input {
  width: 100%;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
}

.chat .input input::placeholder {
  color: lightgray;
}

.chat .input .send {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .chat .input .send img{
  height: 24px;
  cursor: pointer;
} */

.chat .input .send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #3e3c61;
}